.button {
  font: inherit;
  border: 1px solid #0e5f00;
  background: #0e5f00;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #28b110;
  border-color: #28b110;
}

.button:focus {
  outline: none;
}
